@using StartupLanches.Model;

@{
    Layout = null;
}

@model IngredienteLanchePedidoMdl
<tr data-id="@Model.Id">
    <td>@Model.Nome</td>
    <td>@Model.Valor.ToString("c")</td>
    <td><input class="form-control" min="1" max="9" name="Quantidade" type="number" placeholder="Quantidade" value="@Model.Quantidade" style="width: 70px;" /></td>
    <td class="td-sub-total">@Model.ValorTotal.ToString("c")</td>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Valor)
    @Html.HiddenFor(model => model.IdIngrediente)
    @Html.HiddenFor(model => model.Ingrediente.Id)
    @Html.HiddenFor(model => model.Ingrediente.TipoIngrediente)
</tr>